<!doctype html>
<html>
  <head>
    <title>Creating a new note</title>
  </head>
  <body>
    <form method="post" action="https://notetakingapp.spotsign.repl.co/create">
      <p>Fill in the title of your post, your name, and the content that you want to put in your post.</p>
      <p style="color:red">Note: Notes canot be edit once they are created.</p>
      <p>Title:</p>
      <input type = "text" name = "title" />
      <p>Name:</p>
      <input type = "text" name="author"/>
      <p>Content:</p>
      <textarea name="content" cols="30" rows="10"></textarea>
      <input type = "submit" value = "Submit" />
    </form>
  </body>
</html>